<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite" parallel="tests">

	<!-- <test name="Way to Automation Test Cases"> <parameter name="browser" 
		value="Firefox"></parameter> <classes> <class name="com.way2AutomationComponents.TestSuite"/> 
		</classes> </test> -->

	<test name="Practice test cases">

		<!-- <groups>
			<run>
				<exclude name="abe"></exclude>
				<include name="abc"></include>
			</run>
		</groups> -->

		<classes>
			<class name="com.practice.TestNGTests"></class>
		</classes>
	</test>
</suite>


